.logcontainer{
	width:300px;
	margin:0 auto;
}
.logtable{
	width:100%;
	background:green;
	text-align:center;
	font-weight:bold;
	font-size:20px;
}
.logform{
	border:1px solid red; 
	margin:0 auto;
	width:100%;
	padding:10px;
}
a.-buttonform {
	float:center;
	width:70px;
	font-family: sans-serif;
	display: inline-block;
	line-height: 1em;
	padding: 6px 1px;
	margin: 0 .6em 1.5em 0;
	border: 1px solid #4081af;
	border-bottom-color: #20559a;
	color: white !important;
	text-align: center;
	text-shadow: 0 -1px 0 hsla(0,0%,0%,.3);
	text-decoration: none !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #237fd7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #52a8e8), color-stop(1, #2e76cf));
	background: -webkit-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%);
	background: -moz-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%);
	background: -o-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%);
	background: -ms-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%);
	background: linear-gradient(center top, #52a8e8 20%, #2e76cf 100%);
	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3), inset 0 0 2px hsla(0,100%,100%,.3), 0 1px 2px hsla(0, 0%, 0%, .29);
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3), inset 0 0 2px hsla(0,100%,100%,.3), 0 1px 2px hsla(0, 0%, 0%, .29);
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3), inset 0 0 2px hsla(0,100%,100%,.3), 0 1px 2px hsla(0, 0%, 0%, .29);
}
a.-buttonform:hover, a.-button.hover, a.-button.active {
	text-decoration: none !important;
	background: #0073d2;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #3e9ee5), color-stop(1, #1666ca));
	background: -webkit-linear-gradient(center top #3e9ee5 20%, #1666ca 100%);
	background: -moz-linear-gradient(center top #3e9ee5 20%, #1666ca 100%);
	background: -o-linear-gradient(center top #3e9ee5 20%, #1666ca 100%);
	background: -ms-linear-gradient(center top #3e9ee5 20%, #1666ca 100%);
	background: linear-gradient(center top #3e9ee5 20%, #1666ca 100%);
}
 a.-buttonform:active, a.-button.active {
	border-color: #20559a;
	-webkit-box-shadow: inset 0 0 7px hsla(0,0%,0%,.3), 0 1px 0 hsla(0, 100%, 100%, 1);
	-moz-box-shadow: inset 0 0 7px hsla(0,0%,0%,.3), 0 1px 0 hsla(0, 100%, 100%, 1);
	box-shadow: inset 0 0 7px hsla(0,0%,0%,.3), 0 1px 0 hsla(0, 100%, 100%, 1);
}
/*Button*/

a.-buttonform {
	font-size:10px;
	float:center;
	width:50px;
	font-family: sans-serif;
	display: inline-block;
	line-height: 1em;
	padding: 6px 1px;
	margin: 0 .6em 1.5em 0;
	border: 1px solid #4081af;
	border-bottom-color: #20559a;
	color: white !important;
	text-align: center;
	text-shadow: 0 -1px 0 hsla(0,0%,0%,.3);
	text-decoration: none !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #237fd7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #52a8e8), color-stop(1, #2e76cf));
	background: -webkit-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%);
	background: -moz-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%);
	background: -o-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%);
	background: -ms-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%);
	background: linear-gradient(center top, #52a8e8 20%, #2e76cf 100%);
	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3), inset 0 0 2px hsla(0,100%,100%,.3), 0 1px 2px hsla(0, 0%, 0%, .29);
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3), inset 0 0 2px hsla(0,100%,100%,.3), 0 1px 2px hsla(0, 0%, 0%, .29);
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3), inset 0 0 2px hsla(0,100%,100%,.3), 0 1px 2px hsla(0, 0%, 0%, .29);
}
a.-button:hover, a.-button.hover, a.-button.active {
	text-decoration: none !important;
	background: #0073d2;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #3e9ee5), color-stop(1, #1666ca));
	background: -webkit-linear-gradient(center top #3e9ee5 20%, #1666ca 100%);
	background: -moz-linear-gradient(center top #3e9ee5 20%, #1666ca 100%);
	background: -o-linear-gradient(center top #3e9ee5 20%, #1666ca 100%);
	background: -ms-linear-gradient(center top #3e9ee5 20%, #1666ca 100%);
	background: linear-gradient(center top #3e9ee5 20%, #1666ca 100%);
}
a.-button:active, a.-button.active {
	border-color: #20559a;
	-webkit-box-shadow: inset 0 0 7px hsla(0,0%,0%,.3), 0 1px 0 hsla(0, 100%, 100%, 1);
	-moz-box-shadow: inset 0 0 7px hsla(0,0%,0%,.3), 0 1px 0 hsla(0, 100%, 100%, 1);
	box-shadow: inset 0 0 7px hsla(0,0%,0%,.3), 0 1px 0 hsla(0, 100%, 100%, 1);
}
a.-button.dark span {
	color: #555;
	text-shadow: 0 1px #fff;
}
a.-button.custom:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	opacity: 0.85;
}
a.-button span {
	line-height: 1.2em;
	min-height: 16px;
}
a.-button span.-home {
	background: url( "../images/home.png") no-repeat 0 45%;
	padding-left: 25px;
	display: block;
}
a.-button span.-barrowers {
	background: url( "../images/barrowbooks.png") no-repeat 0 45%;
	padding-left: 25px;
	display: block;
}
a.-button span.-return {
	background: url( "../images/return.png") no-repeat 0 45%;
	padding-left: 25px;
	display: block;
}
a.-button span.-borrowedlist{
	background: url( "../images/borrowedlist.png") no-repeat 0 45%;
	padding-left: 25px;
	display: block;
}
a.-button span.-returnedlist {
	background: url( "../images/return.png") no-repeat 0 45%;
	padding-left: 25px;
	display: block;
}
a.-button span.-unreturnedlist{
	background: url( "../images/unreturned.png") no-repeat 0 45%;
	padding-left: 25px;
	display: block;
}
button{
	background:none;
	border:0px;
}
